<!DOCTYPE HTML>
<html>

<head>
    <title>Would you rather?</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Courgette&display=swap" rel="stylesheet">

<body>
    <div>
        <section class="container">
            <h1>Would You Rather</h1>

            <h3>Fly a plane or sail a boat</h3>

            <div>
                <button class="btn btn-lg btn-primary option">Plane</button>
                <button class="btn btn-lg btn-primary option">Boat</button>
            </div>

            <button class="logout btn btn-secondary btn-lg">Log out</button>
        </section>

    </div>
    <script src="js/client.js"></script>
</body>

</html>