body {
    background-image: url('./login-bg.png');
    background-color: #FFF3E2;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

h1{
    color:#FF5757
}
